# Файлы компиляции Java
*.class
*.jar
# Тесты
/test/

# Папки сборки
/target/
/build/
/out/
/bin/

# Логи
*.log

# VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Другие IDE
.idea/
*.iml

# Системные файлы
.DS_Store
Thumbs.db
*.tmp